.small-img{
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
}
.three-grid{
    color: rgb(27, 27, 27);
    font-size: 25px;
    line-height: 1.25;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}
.three-text{
    color: rgb(94, 94, 94);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Open Sans', arial, sans-serif;
}
.three-cont{
    margin-bottom: 50px;
}
.nav-intial{
    background-color: #59798e;
    text-align: right;
    width: 100%;
    position: fixed;
    z-index: 1001;
    left: 0px;
    right: 0px;
    top: 0px;
}
.nav-link{
    color: white;
    }
.landing-welcome{
    padding-top: 10%;
}
.landing-name{
    text-align: center;
    margin-bottom: 3cm;
}
.strategy{
    background-color:rgb(246, 246, 246);
    max-width: 100%;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}
.strat{
    display: block;
    text-align: center;
    margin-bottom: 3cm;
    padding-top: 50px;
    font-size: 44px;
    font-family: 'Playfair Display', Georgia, serif;
    color: rgb(85, 115, 135);
}
.three-span{
    font-weight: 700;
    font-size: 18px;
    color: rgb(94, 94, 94);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-bottom: 30px;
}
.two-img{
    height: 250px;
    width: 80%;
    margin-left: 50px;
}
.two-text{
    font-size: 18px;
    color: rgb(87, 87, 87);
    font-weight: 400;
    line-height: 1.5;
}
.two-title{
    font-size: 25px;
    color: rgb(21, 21, 21);
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 30px;
}
.img-left{
    margin-bottom: 30px;
}
.img-right{
    margin-bottom: 30px;
}
.single-cont{
    margin-top: 50px;
    max-width: 100%;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}
.footer{
    padding-top: 56px;
    background-color: #59798e;
    text-align: center;
    padding-bottom: 56px;
    font-size: 18px;
    font-family: 'Open Sans', arial, sans-serif;
}
#footer-span{
    display: block;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-top: 0;
    line-height: 1.5;
    font-family: 'Open Sans', arial, sans-serif;
    margin-bottom: 15px;
}
.footer-info{
    display: block;
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin-top: 0;
    line-height: 1.5;
    font-family: 'Open Sans', arial, sans-serif;
    margin-bottom: 15px;
}